.text-box {
  height: 38px;
}

.text-box.medium {
  width: 50%;
}



label.question-heading {
  margin: 0;
  font-weight: normal;
}


.phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px 8px 0 10px;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #d53880;
}
