<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="{{ url_for('main.view_dashboard')}}" id="proposition-name">
        Notify
        <strong class="phase-tag">ALPHA</strong>
      </a>
      {% if current_user.email_address %}
      <ul id="proposition-links">
        <li>
          <a href="#">{{ current_user.email_address }}</a>
        </li>
        <li>
          <a href="{{ url_for('main.logout') }}">Log out</a>
        </li>
      </ul>
      {% endif %}
    </nav>
  </div>
</div>
