{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}
<div class="page-container">
    {%
    with
    heading = "Add service"
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}

    {% if form.errors|length > 0 %}
    <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
        <h3 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with your answer to the following questions
        </h3>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <a href="#example-textbox" class="validation-masthead-link">{{ form[field_name].label }}</a>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}


    <form autocomplete="off" action="" method="post">
        <div class="grid-row">
            <div class="column-two-thirds">
                {{ form.hidden_tag() }}

                {% if form.service_name.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question">
                        {{ form.service_name.label(class="question-heading") }}
                        {% if form.service_name.errors %}
                        <p class="validation-message" id="error-service-name-textbox">
                            {% for error in form.service_name.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.service_name(class="text-box", autocomplete="off") }}
                    </div>
                    {% if form.service_name.errors %}
                </div>
                {% endif %}
                <button class="button-save">Create</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
