{% extends "_base_page.html" %}
{% block page_title %}
Dashboard – GOV.UK Notify
{% endblock %}

{% block content %}

<div class="page-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div class="banner-success-without-action">
        {% if message == 'service_created' %}
        <p class="banner-message">
            You have created a service
        </p>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <header class="page-heading">
        <h1>Dashboard</h1>
    </header>

    <div class="grid-row">

        <ul class="column-two-thirds">
            {% for service in services %}
            <li class="dashboard-services-list">
                <h2>{{ service.name }}</h2>
                <ul class="service-options">
                    <li>
                        <a href="{{ url_for('.send_sms', service_id=service.id)}}">Send an SMS</a>
                    </li>

                    <li>
                        <a href="{{ url_for('.render_send_sms_batch', service_id=service.id)}}">Send an SMS Batch</a>
                    </li>

                    <li>
                        <a href="{{ url_for('.render_send_email_batch', service_id=service.id)}}">Send an email batch</a>
                    </li>

                    <li>
                        <a href="{{ url_for('.view_all_jobs', service_id=service.id)}}">View notification history</a>
                    </li>

                    <li>
                        <a href="{{ url_for('.view_service_users', service_id=service.id)}}">Manage users</a>
                    </li>

                    <li>
                        <a href="{{ url_for('.view_api', service_id=service.id)}}">API documentation and keys</a>
                    </li>

                    <li>
                        <a href="{{ url_for('.view_service', service_id=service.id)}}">Service settings</a>
                    </li>
                </ul>

            </li>
            {% endfor %}
            <li class="new-service-link">
                <a href="{{ url_for('.view_create_service') }}">Set up a new service</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
