{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}


{% block content %}
{% block breadcrumb %}
{%
with items = [
{
"label": "Dashboard"
}
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

<div class="page-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div class="banner-success-without-action">
            {% if message == 'service_created' %}
            <p class="banner-message">
                You have created a service
            </p>
            {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}


    <header class="page-heading page-heading-with-context page-heading-without-breadcrumb"><p class="context">
        {{ current_user.email_address }}
    </p>

        <h1>
            Dashboard
        </h1>
    </header>

    <ul>
        {% for service in services %}
        <li class="browse-list-item">
            <a class="browse-list-item-link" href="{{ url_for('.view_service', service_id=service.id)}}"><span> {{ service.name }}</span></a>

            <p class="browse-list-item-subtext">
                <a href="{{ url_for('.send_sms', service_id=service.id)}}">Send an SMS</a>
            </p>

            <p class="browse-list-item-subtext">
                <a href="{{ url_for('.render_send_sms_batch', service_id=service.id)}}">Send an SMS Batch</a>
            </p>

            <p class="browse-list-item-subtext">
                <a href="{{ url_for('.render_send_email_batch', service_id=service.id)}}">Send an email batch</a>
            </p>

            <p class="browse-list-item-subtext">
                <a href="{{ url_for('.view_all_jobs', service_id=service.id)}}">View notification history</a>
            </p>

             <p class="browse-list-item-subtext">
                Manage <a href="{{ url_for('.view_service_users', service_id=service.id)}}">users</a>
            </p>

             <p class="browse-list-item-subtext">
                <a href="{{ url_for('.view_api', service_id=service.id)}}">Manage API keys</a>
            </p>

        </li>
        {% endfor %}
    </ul>
    <header class="page-heading-smaller">
        <p class="context">
            <a href="{{ url_for('.view_create_service') }}">Set up a new service</a>
        </p>
    </header>
</div>
{% endblock %}
