{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}



{% block content %}
{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('main.view_dashboard'),
        "label": session['organisation_name']
      },
      {
        "link": url_for('main.view_all_services'),
        "label": 'Services'
      },
    {
        "label": 'Service history'
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

<div class="page-container">
    {%
    with
    heading = "Jobs"
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}


  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading-first">

              Name

          </th>

          <th scope="col" class="summary-item-field-heading">

              Created at

          </th>

          <th scope="col" class="summary-item-field-heading">

              <span class="hidden">Action</span>

          </th>

      </tr>
    </thead>
    <tbody>


    {% for job in jobs %}
    <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    {{ job.name }}
    </span>
    </td>
    <td class="summary-item-field">
    <span>
    {{ job.createdAt|datetimeformat }}
    </span>
    </td>
    <td class="summary-item-field-with-action">
    <span>
    <a href="{{ url_for('main.view_notification', job_id=job.id) }}">View</a>
    </span>
    </td>

    </tr>
    {% endfor %}


    </tbody>
  </table>

</div>
{% endblock %}