{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}

<div class="page-container">

<div class="grid-row">
    <div class="column-two-thirds">

    {%
    with
    heading = "Sign in to GOV.UK Notify",
    smaller = true
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="banner-destructive-without-action">
            {% if message == 'no_account' %}
            <p class="banner-message">
                Make sure you've entered the right email address and password.
                Accounts are locked after 5 failed attempts. If you think your
                account has been locked, email
                <a href="mailto:notify@digital.cabinet-office.gov.uk">notify@digital.cabinet-office.gov.uk</a>.
            </p>
            {% endif %}
    </div>
    {% endif %}
    {% if category == 'success' %}
    <div class="banner-success-without-action">
            {% if message == 'logged_out' %}
            <p class="banner-message">
                You are now logged out
            </p>
            {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}


    {% if form.errors|length > 0 %}
    <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
        <h3 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with your answer to the following questions
        </h3>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <a href="#example-textbox" class="validation-masthead-link">{{ form[field_name].label }}</a>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    <form autocomplete="off" action="" method="post">
        {{ form.hidden_tag() }}

        {% if form.email_address.errors %}
        <div class="validation-wrapper">
            {% endif %}
            <div class="question">
                {{ form.email_address.label(class="question-heading") }}
                {% if form.email_address.errors %}
                <p class="validation-message" id="error-email-address-textbox">
                    {% for error in form.email_address.errors %}{{ error }}{% endfor %}
                </p>
                {% endif %}
                {{ form.email_address(class="text-box", autocomplete="off") }}
            </div>
            {% if form.email_address.errors %}
        </div>
        {% endif %}

        {% if form.password.errors %}
        <div class="validation-wrapper">
            {% endif %}
            <div class="question">
                {{ form.password.label(class="question-heading") }}
                {% if form.password.errors %}
                <p class="validation-message" id="error-password-textbox">
                    {% for error in form.password.errors %}{{ error }}{% endfor %}
                </p>
                {% endif %}
                {{ form.password(class="text-box", autocomplete="off") }}
            </div>
            {% if form.password.errors %}
        </div>
        {% endif %}

        <button class="button-save">Sign in</button>
    </form>
    </div>

    <div class="column-one-third column-sign-up">
        <h2>Sign up</h2>
        <p>Anyone with a gov.uk email address can send notifications by text message, email and letter</p>
        <p><a href="{{ url_for('.render_registration_page') }}">Create an account</a></p>
    </div>
</div>

</div>
{% endblock %}
