{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}

<div class="page-container">

    {%
    with
    heading = "Send an SMS"
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}

    {# Display error messages #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div class="banner-success-without-action">
            <p class="banner-message">
                {{ message }}
            </p>
    </div>
    {% endif %}
     {% if category == 'error' %}
    <div class="banner-destructive-without-action">
            <p class="banner-message">
                {{ message }}
            </p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form autocomplete="off" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="grid-row">
            <div class="column-two-thirds">

                {% if form.mobile_number.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question">
                        {{ form.mobile_number.label(class="question-heading-with-hint") }}
                        <p class="hint">
                            e.g. +447700900157
                        </p>
                        {% if form.message.errors %}
                        <p class="validation-message" id="error-email-address-textbox">
                            {% for error in form.mobile_number.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.mobile_number(class="text-box", autocomplete="off") }}
                    </div>
                    {% if form.mobile_number.errors %}
                </div>
                {% endif %}

                {% if form.message.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question">
                        {{ form.message.label(class="question-heading") }}
                        {% if form.message.errors %}
                        <p class="validation-message" id="error-message-textbox">
                            {% for error in form.message.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.message(class="text-box text-area", autocomplete="off", rows=3, cols=60) }}
                    </div>
                    {% if form.message.errors %}
                </div>
                {% endif %}

                {% if form.description.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question">
                        {{ form.description.label(class="question-heading-with-hint") }}
                        <p class="hint">
                            Saved in your notification history – not sent with this message
                        </p>
                        {% if form.description.errors %}
                        <p class="validation-message" id="error-description-textbox">
                            {% for error in form.description.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.description(class="text-box", autocomplete="off") }}
                    </div>
                    {% if form.description.errors %}
                </div>
                {% endif %}

                <button class="button-save">Send</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
