{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('main.view_dashboard'),
        "label": "Dashboard"
      },
      {
        "link": url_for('main.view_service', service_id=service.id),
        "label": service.name
      },
    {
        "label": 'Send an SMS'
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}


<div class="page-container">


    {%
    with
    heading = "Send an SMS"
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}


    <form autocomplete="off" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="grid-row">
            <div class="column-two-thirds">
                {% if form.mobile_number.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question">
                        {{ form.mobile_number.label(class="question-heading-with-hint") }}
                        <p class="hint">
                            Enter the mobile number you want to message
                        </p>
                        {% if form.message.errors %}
                        <p class="validation-message" id="error-email-address-textbox">
                            {% for error in form.mobile_number.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.mobile_number(class="text-box", autocomplete="off") }}
                    </div>
                    {% if form.mobile_number.errors %}
                </div>
                {% endif %}

                {% if form.message.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question">
                        {{ form.message.label(class="question-heading-with-hint") }}
                        <p class="hint">
                            Enter the message you want to send
                        </p>
                        {% if form.message.errors %}
                        <p class="validation-message" id="error-message-textbox">
                            {% for error in form.message.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.message(class="text-box", autocomplete="off") }}
                    </div>
                    {% if form.message.errors %}
                </div>
                {% endif %}

                <button class="button-save">Send</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
