{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}



{% block content %}
{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('main.view_dashboard'),
        "label": "Dashboard"
      },
    {
        "label": service.name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

<div class="page-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="banner-destructive-without-action">
            <p class="banner-message">
                {{ message }}
            </p>
    </div>
    {% endif %}
    {% if category == 'success' %}
    <div class="banner-success-without-action">
            <p class="banner-message">
                {{ message }}
            </p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}


    {%
    with
    heading = service.name
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}





  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading">

              Created at

          </th>

          <th scope="col" class="summary-item-field-heading">

              Active

          </th>

          <th scope="col" class="summary-item-field-heading">

              Restricted

          </th>

          <th scope="col" class="summary-item-field-heading">

              Daily limit

          </th>


      </tr>
    </thead>
    <tbody>


    <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    {{ service.createdAt|datetimeformat }}
    </span>
    </td>
    <td class="summary-item-field-first">
    <span>
    {{ service.active }}
    </span>
    </td>
        <td class="summary-item-field-first">
    <span>
    {{ service.restricted }}
    </span>
    </td>
    <td class="summary-item-field-first">
    <span>
    {{used_today}}/{{ service.limit }}
    </span>
    </td>

    </tr>


    </tbody>
  </table>

    {% if not service.active %}
     <form autocomplete="off" action="{{ url_for('.activate_service', service_id=service.id) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="grid-row">
            <div class="column-two-thirds">
                <button class="button-save">Activate service</button>
            </div>
        </div>
    </form>
    {% else %}
    <form autocomplete="off" action="{{ url_for('.deactivate_service', service_id=service.id) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="grid-row">
            <div class="column-two-thirds">
                <button class="button-destructive">Deactivate service</button>
            </div>
        </div>
    </form>
    {% endif %}

</div>
{% endblock %}