{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}



{% block content %}
{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('main.view_dashboard'),
        "label": "Dashboard"
      },
    {
        "label": service.name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

<div class="page-container">
    {%
    with
    heading = service.name
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}



  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading">

              Created at

          </th>

          <th scope="col" class="summary-item-field-heading">

              Active

          </th>

          <th scope="col" class="summary-item-field-heading">

              Daily limit

          </th>

          <th scope="col" class="summary-item-field-heading">

              <span class="hidden">Action</span>

          </th>

      </tr>
    </thead>
    <tbody>


    <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    {{ service.createdAt|datetimeformat }}
    </span>
    </td>
    <td class="summary-item-field-first">
    <span>
    {{ service.active }}
    </span>
    </td>
    <td class="summary-item-field-first">
    <span>
    {{ service.limit }}
    </span>
    </td>
    <td class="summary-item-field-with-action">
    <span>
    <a href="{{ url_for('main.view_all_jobs', service_id=service.id) }}">Jobs</a>
    </span>
    </td>

    </tr>


    </tbody>
  </table>

</div>
{% endblock %}