{% extends "_base_page.html" %}
{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}
{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('main.view_dashboard'),
        "label": session['organisation_name']
      },
      {
        "link": url_for('main.view_all_services'),
        "label": 'Services'
      },
        {
        "link": url_for('main.view_all_jobs', service_id=1),
        "label": 'Jobs'
      },
    {
        "label": 'Notification'
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}
<div class="page-container">


<h2 class="summary-item-heading">
    Notifications
</h2>


  <table class="summary-item-body">
    <caption class="visuallyhidden">
      A Notification
    </caption>
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading">

              to

          </th>

          <th scope="col" class="summary-item-field-heading">

              message

          </th>

         <th scope="col" class="summary-item-field-heading">

              created at

          </th>

          <th scope="col" class="summary-item-field-heading">

              delivered at

          </th>

          <th scope="col" class="summary-item-field-heading">

              status

          </th>
          <th scope="col" class="summary-item-field-heading">

              method

          </th>


      </tr>
    </thead>
    <tbody>



   {% for notification in notifications %}
    <tr class="summary-item-row">

    <td class="summary-item-field">
    <span>
    {{ notification.to }}
    </span>
    </td>
    <td class="summary-item-field">
    <span>
    {{ notification.message }}
    </span>
    </td>

    <td class="summary-item-field">
    <span>
    {{ notification.createdAt|datetimeformat }}
    </span>
    </td>
    <td class="summary-item-field">
    <span>
    {{ notification.deliveredAt|datetimeformat }}
    </span>
    </td>
    <td class="summary-item-field">
    <span>
    {{ notification.status }}
    </span>
    </td>
    <td class="summary-item-field">
    <span>
    {{ notification.method }}
    </span>
    </td>
    </tr>
    {% endfor %}

  </tr>


    </tbody>
  </table>


</div>
{% endblock %}